*.fastq.gz
*.bam
.gz
*.gz
./grcm38_snptran.tar.gz
./grcm38_snp_tran/genome_snp_tran.1.ht2
./grcm38_snp_tran/genome_snp_tran.2.ht2
./grcm38_snp_tran/genome_snp_tran.4.ht2
./grcm38_snp_tran/genome_snp_tran.5.ht2
./grcm38_snp_tran/genome_snp_tran.6.ht2
./grcm38_snp_tran/genome_snp_tran.7.ht2
./grcm38_snp_tran/genome_snp_tran.8.ht2
./mm10-allGenes.gtf
./mm10-chr11.gtf
./mm10chr11/mm10chr11.1.ht2
./mm10chr11/mm10chr11.2.ht2
./mm10chr11/mm10chr11.4.ht2
./mm10chr11/mm10chr11.5.ht2
./mm10chr11/mm10chr11.6.ht2
./mm10chr11.zip
./raw-fastq/CD24Mid-1-R1.fastq.gz
./raw-fastq/CD24Mid-1-R2.fastq.gz
./raw-fastq/CD24Mid-3-R1.fastq.gz
./raw-fastq/CD24Mid-3-R2.fastq.gz
./raw-fastq/CD24Mid-5-R1.fastq.gz
./raw-fastq/CD24Mid-5-R2.fastq.gz
./raw-fastq/CD24Mid-7-R1.fastq.gz
./raw-fastq/CD24Mid-7-R2.fastq.gz
./raw-fastq/CD24Neg-2-R1.fastq.gz
./raw-fastq/CD24Neg-2-R2.fastq.gz
./raw-fastq/CD24Neg-4-R1.fastq.gz
./raw-fastq/CD24Neg-4-R2.fastq.gz
./raw-fastq/CD24Neg-6-R1.fastq.gz
./raw-fastq/CD24Neg-6-R2.fastq.gz
./raw-fastq/CD24Neg-8-R1.fastq.gz
./raw-fastq/CD24Neg-8-R2.fastq.gz
./trimmed-fastq/CD24Mid-1-R1-trim.fastq.gz
./trimmed-fastq/CD24Mid-1-R2-trim.fastq.gz
./trimmed-fastq/CD24Mid-1.bam
./trimmed-fastq/CD24Mid-1.filtered.bam
./trimmed-fastq/CD24Mid-1.sort.bam
./trimmed-fastq/CD24Mid-1.sort.filtered.bam
./trimmed-fastq/CD24Mid-3-R1-trim.fastq.gz
./trimmed-fastq/CD24Mid-3-R2-trim.fastq.gz
./trimmed-fastq/CD24Mid-3.bam
./trimmed-fastq/CD24Mid-3.filtered.bam
./trimmed-fastq/CD24Mid-3.sort.bam
./trimmed-fastq/CD24Mid-3.sort.filtered.bam
./trimmed-fastq/CD24Mid-5-R1-trim.fastq.gz
./trimmed-fastq/CD24Mid-5-R2-trim.fastq.gz
./trimmed-fastq/CD24Mid-5.bam
./trimmed-fastq/CD24Mid-5.filtered.bam
./trimmed-fastq/CD24Mid-5.sort.bam
./trimmed-fastq/CD24Mid-5.sort.filtered.bam
./trimmed-fastq/CD24Mid-7-R1-trim.fastq.gz
./trimmed-fastq/CD24Mid-7-R2-trim.fastq.gz
./trimmed-fastq/CD24Mid-7.bam
./trimmed-fastq/CD24Mid-7.filtered.bam
./trimmed-fastq/CD24Mid-7.sort.bam
./trimmed-fastq/CD24Mid-7.sort.filtered.bam
./trimmed-fastq/CD24Neg-2-R1-trim.fastq.gz
./trimmed-fastq/CD24Neg-2-R2-trim.fastq.gz
./trimmed-fastq/CD24Neg-2.bam
./trimmed-fastq/CD24Neg-2.filtered.bam
./trimmed-fastq/CD24Neg-2.sort.bam
./trimmed-fastq/CD24Neg-2.sort.filtered.bam
./trimmed-fastq/CD24Neg-4-R1-trim.fastq.gz
./trimmed-fastq/CD24Neg-4-R2-trim.fastq.gz
./trimmed-fastq/CD24Neg-4.bam
./trimmed-fastq/CD24Neg-4.filtered.bam
./trimmed-fastq/CD24Neg-4.sort.bam
./trimmed-fastq/CD24Neg-4.sort.filtered.bam
./trimmed-fastq/CD24Neg-6-R1-trim.fastq.gz
./trimmed-fastq/CD24Neg-6-R2-trim.fastq.gz
./trimmed-fastq/CD24Neg-6.bam
./trimmed-fastq/CD24Neg-6.filtered.bam
./trimmed-fastq/CD24Neg-6.sort.bam
./trimmed-fastq/CD24Neg-6.sort.filtered.bam
./trimmed-fastq/CD24Neg-8-R1-trim.fastq.gz
./trimmed-fastq/CD24Neg-8-R2-trim.fastq.gz
./trimmed-fastq/CD24Neg-8.bam
./trimmed-fastq/CD24Neg-8.filtered.bam
./trimmed-fastq/CD24Neg-8.sort.bam
./trimmed-fastq/CD24Neg-8.sort.filtered.bam
grcm38_snp_tran/
raw-fastq/
mm10chr11/
./grcm38_snptran.tar.gz
./grcm38_snp_tran/genome_snp_tran.1.ht2
./grcm38_snp_tran/genome_snp_tran.2.ht2
./grcm38_snp_tran/genome_snp_tran.4.ht2
./grcm38_snp_tran/genome_snp_tran.5.ht2
./grcm38_snp_tran/genome_snp_tran.6.ht2
./grcm38_snp_tran/genome_snp_tran.7.ht2
./grcm38_snp_tran/genome_snp_tran.8.ht2
./mm10-allGenes.gtf
./mm10-chr11.gtf
./mm10chr11/mm10chr11.1.ht2
./mm10chr11/mm10chr11.2.ht2
./mm10chr11/mm10chr11.4.ht2
./mm10chr11/mm10chr11.5.ht2
./mm10chr11/mm10chr11.6.ht2
./mm10chr11.zip
./raw-fastq/CD24Mid-1-R1.fastq.gz
./raw-fastq/CD24Mid-1-R2.fastq.gz
./raw-fastq/CD24Mid-3-R1.fastq.gz
./raw-fastq/CD24Mid-3-R2.fastq.gz
./raw-fastq/CD24Mid-5-R1.fastq.gz
./raw-fastq/CD24Mid-5-R2.fastq.gz
./raw-fastq/CD24Mid-7-R1.fastq.gz
./raw-fastq/CD24Mid-7-R2.fastq.gz
./raw-fastq/CD24Neg-2-R1.fastq.gz
./raw-fastq/CD24Neg-2-R2.fastq.gz
./raw-fastq/CD24Neg-4-R1.fastq.gz
./raw-fastq/CD24Neg-4-R2.fastq.gz
./raw-fastq/CD24Neg-6-R1.fastq.gz
./raw-fastq/CD24Neg-6-R2.fastq.gz
./raw-fastq/CD24Neg-8-R1.fastq.gz
./raw-fastq/CD24Neg-8-R2.fastq.gz
./trimmed-fastq/CD24Mid-1-R1-trim.fastq.gz
./trimmed-fastq/CD24Mid-1-R2-trim.fastq.gz
./trimmed-fastq/CD24Mid-1.bam
./trimmed-fastq/CD24Mid-1.filtered.bam
./trimmed-fastq/CD24Mid-1.sort.bam
./trimmed-fastq/CD24Mid-1.sort.filtered.bam
./trimmed-fastq/CD24Mid-3-R1-trim.fastq.gz
./trimmed-fastq/CD24Mid-3-R2-trim.fastq.gz
./trimmed-fastq/CD24Mid-3.bam
./trimmed-fastq/CD24Mid-3.filtered.bam
./trimmed-fastq/CD24Mid-3.sort.bam
./trimmed-fastq/CD24Mid-3.sort.filtered.bam
./trimmed-fastq/CD24Mid-5-R1-trim.fastq.gz
./trimmed-fastq/CD24Mid-5-R2-trim.fastq.gz
./trimmed-fastq/CD24Mid-5.bam
./trimmed-fastq/CD24Mid-5.filtered.bam
./trimmed-fastq/CD24Mid-5.sort.bam
./trimmed-fastq/CD24Mid-5.sort.filtered.bam
./trimmed-fastq/CD24Mid-7-R1-trim.fastq.gz
./trimmed-fastq/CD24Mid-7-R2-trim.fastq.gz
./trimmed-fastq/CD24Mid-7.bam
./trimmed-fastq/CD24Mid-7.filtered.bam
./trimmed-fastq/CD24Mid-7.sort.bam
./trimmed-fastq/CD24Mid-7.sort.filtered.bam
./trimmed-fastq/CD24Neg-2-R1-trim.fastq.gz
./trimmed-fastq/CD24Neg-2-R2-trim.fastq.gz
./trimmed-fastq/CD24Neg-2.bam
./trimmed-fastq/CD24Neg-2.filtered.bam
./trimmed-fastq/CD24Neg-2.sort.bam
./trimmed-fastq/CD24Neg-2.sort.filtered.bam
./trimmed-fastq/CD24Neg-4-R1-trim.fastq.gz
./trimmed-fastq/CD24Neg-4-R2-trim.fastq.gz
./trimmed-fastq/CD24Neg-4.bam
./trimmed-fastq/CD24Neg-4.filtered.bam
./trimmed-fastq/CD24Neg-4.sort.bam
./trimmed-fastq/CD24Neg-4.sort.filtered.bam
./trimmed-fastq/CD24Neg-6-R1-trim.fastq.gz
./trimmed-fastq/CD24Neg-6-R2-trim.fastq.gz
./trimmed-fastq/CD24Neg-6.bam
./trimmed-fastq/CD24Neg-6.filtered.bam
./trimmed-fastq/CD24Neg-6.sort.bam
./trimmed-fastq/CD24Neg-6.sort.filtered.bam
./trimmed-fastq/CD24Neg-8-R1-trim.fastq.gz
./trimmed-fastq/CD24Neg-8-R2-trim.fastq.gz
./trimmed-fastq/CD24Neg-8.bam
./trimmed-fastq/CD24Neg-8.filtered.bam
./trimmed-fastq/CD24Neg-8.sort.bam
./trimmed-fastq/CD24Neg-8.sort.filtered.bam
./grcm38_snptran.tar.gz
./grcm38_snp_tran/genome_snp_tran.1.ht2
./grcm38_snp_tran/genome_snp_tran.2.ht2
./grcm38_snp_tran/genome_snp_tran.4.ht2
./grcm38_snp_tran/genome_snp_tran.5.ht2
./grcm38_snp_tran/genome_snp_tran.6.ht2
./grcm38_snp_tran/genome_snp_tran.7.ht2
./grcm38_snp_tran/genome_snp_tran.8.ht2
./mm10-allGenes.gtf
./mm10-chr11.gtf
./mm10chr11/mm10chr11.1.ht2
./mm10chr11/mm10chr11.2.ht2
./mm10chr11/mm10chr11.4.ht2
./mm10chr11/mm10chr11.5.ht2
./mm10chr11/mm10chr11.6.ht2
./mm10chr11.zip
./raw-fastq/CD24Mid-1-R1.fastq.gz
./raw-fastq/CD24Mid-1-R2.fastq.gz
./raw-fastq/CD24Mid-3-R1.fastq.gz
./raw-fastq/CD24Mid-3-R2.fastq.gz
./raw-fastq/CD24Mid-5-R1.fastq.gz
./raw-fastq/CD24Mid-5-R2.fastq.gz
./raw-fastq/CD24Mid-7-R1.fastq.gz
./raw-fastq/CD24Mid-7-R2.fastq.gz
./raw-fastq/CD24Neg-2-R1.fastq.gz
./raw-fastq/CD24Neg-2-R2.fastq.gz
./raw-fastq/CD24Neg-4-R1.fastq.gz
./raw-fastq/CD24Neg-4-R2.fastq.gz
./raw-fastq/CD24Neg-6-R1.fastq.gz
./raw-fastq/CD24Neg-6-R2.fastq.gz
./raw-fastq/CD24Neg-8-R1.fastq.gz
./raw-fastq/CD24Neg-8-R2.fastq.gz
./trimmed-fastq/CD24Mid-1-R1-trim.fastq.gz
./trimmed-fastq/CD24Mid-1-R2-trim.fastq.gz
./trimmed-fastq/CD24Mid-1.bam
./trimmed-fastq/CD24Mid-1.filtered.bam
./trimmed-fastq/CD24Mid-1.sort.bam
./trimmed-fastq/CD24Mid-1.sort.filtered.bam
./trimmed-fastq/CD24Mid-3-R1-trim.fastq.gz
./trimmed-fastq/CD24Mid-3-R2-trim.fastq.gz
./trimmed-fastq/CD24Mid-3.bam
./trimmed-fastq/CD24Mid-3.filtered.bam
./trimmed-fastq/CD24Mid-3.sort.bam
./trimmed-fastq/CD24Mid-3.sort.filtered.bam
./trimmed-fastq/CD24Mid-5-R1-trim.fastq.gz
./trimmed-fastq/CD24Mid-5-R2-trim.fastq.gz
./trimmed-fastq/CD24Mid-5.bam
./trimmed-fastq/CD24Mid-5.filtered.bam
./trimmed-fastq/CD24Mid-5.sort.bam
./trimmed-fastq/CD24Mid-5.sort.filtered.bam
./trimmed-fastq/CD24Mid-7-R1-trim.fastq.gz
./trimmed-fastq/CD24Mid-7-R2-trim.fastq.gz
./trimmed-fastq/CD24Mid-7.bam
./trimmed-fastq/CD24Mid-7.filtered.bam
./trimmed-fastq/CD24Mid-7.sort.bam
./trimmed-fastq/CD24Mid-7.sort.filtered.bam
./trimmed-fastq/CD24Neg-2-R1-trim.fastq.gz
./trimmed-fastq/CD24Neg-2-R2-trim.fastq.gz
./trimmed-fastq/CD24Neg-2.bam
./trimmed-fastq/CD24Neg-2.filtered.bam
./trimmed-fastq/CD24Neg-2.sort.bam
./trimmed-fastq/CD24Neg-2.sort.filtered.bam
./trimmed-fastq/CD24Neg-4-R1-trim.fastq.gz
./trimmed-fastq/CD24Neg-4-R2-trim.fastq.gz
./trimmed-fastq/CD24Neg-4.bam
./trimmed-fastq/CD24Neg-4.filtered.bam
./trimmed-fastq/CD24Neg-4.sort.bam
./trimmed-fastq/CD24Neg-4.sort.filtered.bam
./trimmed-fastq/CD24Neg-6-R1-trim.fastq.gz
./trimmed-fastq/CD24Neg-6-R2-trim.fastq.gz
./trimmed-fastq/CD24Neg-6.bam
./trimmed-fastq/CD24Neg-6.filtered.bam
./trimmed-fastq/CD24Neg-6.sort.bam
./trimmed-fastq/CD24Neg-6.sort.filtered.bam
./trimmed-fastq/CD24Neg-8-R1-trim.fastq.gz
./trimmed-fastq/CD24Neg-8-R2-trim.fastq.gz
./trimmed-fastq/CD24Neg-8.bam
./trimmed-fastq/CD24Neg-8.filtered.bam
./trimmed-fastq/CD24Neg-8.sort.bam
./trimmed-fastq/CD24Neg-8.sort.filtered.bam
grcm38_snp_tran/
raw-fastq/
mm10chr11/
mm10chr11.zip
*.fastq.gz
*.bam
*.gz
./grcm38_snptran.tar.gz
./grcm38_snp_tran/genome_snp_tran.1.ht2
./grcm38_snp_tran/genome_snp_tran.2.ht2
./grcm38_snp_tran/genome_snp_tran.4.ht2
./grcm38_snp_tran/genome_snp_tran.5.ht2
./grcm38_snp_tran/genome_snp_tran.6.ht2
./grcm38_snp_tran/genome_snp_tran.7.ht2
./grcm38_snp_tran/genome_snp_tran.8.ht2
./mm10-allGenes.gtf
./mm10-chr11.gtf
./mm10chr11/mm10chr11.1.ht2
./mm10chr11/mm10chr11.2.ht2
./mm10chr11/mm10chr11.4.ht2
./mm10chr11/mm10chr11.5.ht2
./mm10chr11/mm10chr11.6.ht2
./mm10chr11.zip
./raw-fastq/CD24Mid-1-R1.fastq.gz
./raw-fastq/CD24Mid-1-R2.fastq.gz
./raw-fastq/CD24Mid-3-R1.fastq.gz
./raw-fastq/CD24Mid-3-R2.fastq.gz
./raw-fastq/CD24Mid-5-R1.fastq.gz
./raw-fastq/CD24Mid-5-R2.fastq.gz
./raw-fastq/CD24Mid-7-R1.fastq.gz
./raw-fastq/CD24Mid-7-R2.fastq.gz
./raw-fastq/CD24Neg-2-R1.fastq.gz
./raw-fastq/CD24Neg-2-R2.fastq.gz
./raw-fastq/CD24Neg-4-R1.fastq.gz
./raw-fastq/CD24Neg-4-R2.fastq.gz
./raw-fastq/CD24Neg-6-R1.fastq.gz
./raw-fastq/CD24Neg-6-R2.fastq.gz
./raw-fastq/CD24Neg-8-R1.fastq.gz
./raw-fastq/CD24Neg-8-R2.fastq.gz
./trimmed-fastq/CD24Mid-1-R1-trim.fastq.gz
./trimmed-fastq/CD24Mid-1-R2-trim.fastq.gz
./trimmed-fastq/CD24Mid-1.bam
./trimmed-fastq/CD24Mid-1.filtered.bam
./trimmed-fastq/CD24Mid-1.sort.bam
./trimmed-fastq/CD24Mid-1.sort.filtered.bam
./trimmed-fastq/CD24Mid-3-R1-trim.fastq.gz
./trimmed-fastq/CD24Mid-3-R2-trim.fastq.gz
./trimmed-fastq/CD24Mid-3.bam
./trimmed-fastq/CD24Mid-3.filtered.bam
./trimmed-fastq/CD24Mid-3.sort.bam
./trimmed-fastq/CD24Mid-3.sort.filtered.bam
./trimmed-fastq/CD24Mid-5-R1-trim.fastq.gz
./trimmed-fastq/CD24Mid-5-R2-trim.fastq.gz
./trimmed-fastq/CD24Mid-5.bam
./trimmed-fastq/CD24Mid-5.filtered.bam
./trimmed-fastq/CD24Mid-5.sort.bam
./trimmed-fastq/CD24Mid-5.sort.filtered.bam
./trimmed-fastq/CD24Mid-7-R1-trim.fastq.gz
./trimmed-fastq/CD24Mid-7-R2-trim.fastq.gz
./trimmed-fastq/CD24Mid-7.bam
./trimmed-fastq/CD24Mid-7.filtered.bam
./trimmed-fastq/CD24Mid-7.sort.bam
./trimmed-fastq/CD24Mid-7.sort.filtered.bam
./trimmed-fastq/CD24Neg-2-R1-trim.fastq.gz
./trimmed-fastq/CD24Neg-2-R2-trim.fastq.gz
./trimmed-fastq/CD24Neg-2.bam
./trimmed-fastq/CD24Neg-2.filtered.bam
./trimmed-fastq/CD24Neg-2.sort.bam
./trimmed-fastq/CD24Neg-2.sort.filtered.bam
./trimmed-fastq/CD24Neg-4-R1-trim.fastq.gz
./trimmed-fastq/CD24Neg-4-R2-trim.fastq.gz
./trimmed-fastq/CD24Neg-4.bam
./trimmed-fastq/CD24Neg-4.filtered.bam
./trimmed-fastq/CD24Neg-4.sort.bam
./trimmed-fastq/CD24Neg-4.sort.filtered.bam
./trimmed-fastq/CD24Neg-6-R1-trim.fastq.gz
./trimmed-fastq/CD24Neg-6-R2-trim.fastq.gz
./trimmed-fastq/CD24Neg-6.bam
./trimmed-fastq/CD24Neg-6.filtered.bam
./trimmed-fastq/CD24Neg-6.sort.bam
./trimmed-fastq/CD24Neg-6.sort.filtered.bam
./trimmed-fastq/CD24Neg-8-R1-trim.fastq.gz
./trimmed-fastq/CD24Neg-8-R2-trim.fastq.gz
./trimmed-fastq/CD24Neg-8.bam
./trimmed-fastq/CD24Neg-8.filtered.bam
./trimmed-fastq/CD24Neg-8.sort.bam
./trimmed-fastq/CD24Neg-8.sort.filtered.bam
grcm38_snp_tran/
raw-fastq/
mm10chr11/
mm10chr11.zip
mm10-allGenes.gtf
mm10-chr11.gtf
*.fastq.gz
*.bam
*.gz
./grcm38_snptran.tar.gz
./grcm38_snp_tran/genome_snp_tran.1.ht2
./grcm38_snp_tran/genome_snp_tran.2.ht2
./grcm38_snp_tran/genome_snp_tran.4.ht2
./grcm38_snp_tran/genome_snp_tran.5.ht2
./grcm38_snp_tran/genome_snp_tran.6.ht2
./grcm38_snp_tran/genome_snp_tran.7.ht2
./grcm38_snp_tran/genome_snp_tran.8.ht2
./mm10-allGenes.gtf
./mm10-chr11.gtf
./mm10chr11/mm10chr11.1.ht2
./mm10chr11/mm10chr11.2.ht2
./mm10chr11/mm10chr11.4.ht2
./mm10chr11/mm10chr11.5.ht2
./mm10chr11/mm10chr11.6.ht2
./mm10chr11.zip
./raw-fastq/CD24Mid-1-R1.fastq.gz
./raw-fastq/CD24Mid-1-R2.fastq.gz
./raw-fastq/CD24Mid-3-R1.fastq.gz
./raw-fastq/CD24Mid-3-R2.fastq.gz
./raw-fastq/CD24Mid-5-R1.fastq.gz
./raw-fastq/CD24Mid-5-R2.fastq.gz
./raw-fastq/CD24Mid-7-R1.fastq.gz
./raw-fastq/CD24Mid-7-R2.fastq.gz
./raw-fastq/CD24Neg-2-R1.fastq.gz
./raw-fastq/CD24Neg-2-R2.fastq.gz
./raw-fastq/CD24Neg-4-R1.fastq.gz
./raw-fastq/CD24Neg-4-R2.fastq.gz
./raw-fastq/CD24Neg-6-R1.fastq.gz
./raw-fastq/CD24Neg-6-R2.fastq.gz
./raw-fastq/CD24Neg-8-R1.fastq.gz
./raw-fastq/CD24Neg-8-R2.fastq.gz
./trimmed-fastq/CD24Mid-1-R1-trim.fastq.gz
./trimmed-fastq/CD24Mid-1-R2-trim.fastq.gz
./trimmed-fastq/CD24Mid-1.bam
./trimmed-fastq/CD24Mid-1.filtered.bam
./trimmed-fastq/CD24Mid-1.sort.bam
./trimmed-fastq/CD24Mid-1.sort.filtered.bam
./trimmed-fastq/CD24Mid-3-R1-trim.fastq.gz
./trimmed-fastq/CD24Mid-3-R2-trim.fastq.gz
./trimmed-fastq/CD24Mid-3.bam
./trimmed-fastq/CD24Mid-3.filtered.bam
./trimmed-fastq/CD24Mid-3.sort.bam
./trimmed-fastq/CD24Mid-3.sort.filtered.bam
./trimmed-fastq/CD24Mid-5-R1-trim.fastq.gz
./trimmed-fastq/CD24Mid-5-R2-trim.fastq.gz
./trimmed-fastq/CD24Mid-5.bam
./trimmed-fastq/CD24Mid-5.filtered.bam
./trimmed-fastq/CD24Mid-5.sort.bam
./trimmed-fastq/CD24Mid-5.sort.filtered.bam
./trimmed-fastq/CD24Mid-7-R1-trim.fastq.gz
./trimmed-fastq/CD24Mid-7-R2-trim.fastq.gz
./trimmed-fastq/CD24Mid-7.bam
./trimmed-fastq/CD24Mid-7.filtered.bam
./trimmed-fastq/CD24Mid-7.sort.bam
./trimmed-fastq/CD24Mid-7.sort.filtered.bam
./trimmed-fastq/CD24Neg-2-R1-trim.fastq.gz
./trimmed-fastq/CD24Neg-2-R2-trim.fastq.gz
./trimmed-fastq/CD24Neg-2.bam
./trimmed-fastq/CD24Neg-2.filtered.bam
./trimmed-fastq/CD24Neg-2.sort.bam
./trimmed-fastq/CD24Neg-2.sort.filtered.bam
./trimmed-fastq/CD24Neg-4-R1-trim.fastq.gz
./trimmed-fastq/CD24Neg-4-R2-trim.fastq.gz
./trimmed-fastq/CD24Neg-4.bam
./trimmed-fastq/CD24Neg-4.filtered.bam
./trimmed-fastq/CD24Neg-4.sort.bam
./trimmed-fastq/CD24Neg-4.sort.filtered.bam
./trimmed-fastq/CD24Neg-6-R1-trim.fastq.gz
./trimmed-fastq/CD24Neg-6-R2-trim.fastq.gz
./trimmed-fastq/CD24Neg-6.bam
./trimmed-fastq/CD24Neg-6.filtered.bam
./trimmed-fastq/CD24Neg-6.sort.bam
./trimmed-fastq/CD24Neg-6.sort.filtered.bam
./trimmed-fastq/CD24Neg-8-R1-trim.fastq.gz
./trimmed-fastq/CD24Neg-8-R2-trim.fastq.gz
./trimmed-fastq/CD24Neg-8.bam
./trimmed-fastq/CD24Neg-8.filtered.bam
./trimmed-fastq/CD24Neg-8.sort.bam
./trimmed-fastq/CD24Neg-8.sort.filtered.bam
mm10chr11/
grcm38_snp_tran/
mm10chr11/
mm10chr11.zip
